@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-12">
            <h2>An example on how to use ASP .NET CORE Configuration</h2>
            <ul>
                <li>Server : @ViewData["Server"]</li>
                <li>Port : @ViewData["Port"]</li>
                <li>User : @ViewData["User"]</li>
                <li>Pass : @ViewData["Pass"]</li>
            </ul>
        </div>
    </div>
</div>